{% comment %}
Dawn6.0.0からドロワー形式のカートが追加されました。ドロワーカートを利用する場合は、こちらのsnippets/cart-drawer.liquidにも合わせてCart attribute用のカスタマイズを追加してください。
※sections/main-cart-footer.liquidに同一コードを書くことになるため、コードをsnippets化して {% render 'cart-note' %}のように読み込ませるとよりスマートです
{% endcomment %}
<div class="drawer__footer">
  {%- if settings.show_cart_note -%}
    <details id="Details-CartDrawer">
      <summary>
        <span class="summary__title">
          {{ 'sections.cart.note' | t }}
          {% render 'icon-caret' %}
        </span>
      </summary>
      <cart-note class="cart__note field">
        {% comment %}Dawnの元記述は省略{% endcomment %}
      </cart-note>
      {% comment %}Cart attribute記述開始{% endcomment %}
      <p class="cart-attribute__field">
        <input type="hidden" name="attributes[無料ラッピング希望]" form="cart" value="No">
        <input type="checkbox" id="giftRequest" name="attributes[無料ラッピング希望]" form="cart" value="Yes"{% if cart.attributes["無料ラッピング希望"] == "Yes" %} checked{% endif %}>
        <label for="giftRequest">無料ラッピング希望</label>
      </p>
    </details>
  {%- endif -%}

  {% comment %}Dawnの元記述は省略{% endcomment %}
</div>
